/* Base styles for document */
body {
    line-height: 1.5;
  }
  
  /* Toggle class for script.js */
  .hidden {
    display: none;
  }

  
.btn-info {
    color: #fff !important;
    background-color: rgb(11, 127, 223) !important;
    border-color: #051619 !important;
}

.btn-light {
    color: #212529 !important;
    background-color: grey !important;
    border-color: #f8f9fa !important;
    width: 250px !important;
}
  
  /* Header background */
  .navbar {
    background: linear-gradient(to right, rgb(21, 85, 202), rgb(20, 5, 102)) !important;
    
  }
  
  /* h1 styles */
  .navbar .center {
    font-size: 2.5rem !important;
    color: #fff !important;
    text-align: center !important;
    margin: auto !important;
  }
  
  .bg-info {
    background-color: rgb(4, 4, 58)!important;
}


*, ::after, ::before {
    box-sizing: border-box !important;
    font-size: 15px !important;
}
  
  /* Removes pointer for UV Index button display */
  .uv {
    cursor: initial !important;
  }
  
  /* Centers weather icons in 5-day cards */
  #daily-forecast #conditions img {
    display: block;
  }
  
  /* Ensures input block stays centered within card */
  #search-form input {
    width: 100%;
  }
  
  @media only screen and (max-width: 530px) {
    /* Reducing h1 text size for mobile screens */
    .navbar .center {
        font-size: 2rem;
    }
  }
  
  @media only screen and (max-width: 430px) {
    /* Shifts icons in h1 onto own lines */
    .navbar .center i {
        display: block;
        line-height: 1.25;
    }
  }
